@value desktop from './breakpoints.css';

#root {
  height: calc(100vh - 1em);
}

main {
  height: inherit;
  display: grid;
  grid-auto-rows: auto 1fr auto;
  grid-row-gap: 0.5em;

}

.border {
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

body.dark {
  filter: invert(1);
  background-color: #000;
}

@media (desktop) {
  main {
    width: 48em;
    margin: auto;
  }
}