.control {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0 .5em;
}

.chat {
  display: flex;
}

.chatEmpty {
  composes: chat;
  justify-content: center;
  align-items: center;
}

.chatNotEmpty {
  composes: chat;
  flex-direction: column;
  overflow-y: auto;
}